body {
    font-family: 'Georgia', serif;
    font-size: 16px;
    padding-top: 50px;
}

.introduction p {
    text-align: left;
}

p.last-update {
    color: grey;
}

.info-text {
    margin-top: -20px;
}

@font-face {
    font-family: "HanyiKaiti";
    src: url("../fonts/HanyiKaiti.ttf") format("truetype");
}

.name-section{
    padding-top: 40px;
    margin-bottom: 0em;
    font-size: 40px;
}
.name-section .small {
    font-size: 20px;
}
.name-sep {
    padding-left: 10px;
    padding-right: 10px;
}
.kaishu {
    font-family: "HanyiKaiti"
}

.menu {
    margin-top: 30px;
}
.nav {
    padding-top: 10px;
    padding-bottom: 20px;
}
.nav a {
    font-style: italic;
    font-size: 18px;
}
.nav-item-sep {
    padding-left: 15px;
    padding-right: 15px;
}

.logo-area {
    padding-left: 55px;
    padding-top: 20px;
}
.logo {
    margin-top: 10px;
}
.zi {
    width: 120px;
    float: left;
    position: relative;
}
.zi img {
    border: 2px solid #CCCCCC;
    margin: 2px;
}
.zi p {
    float: inline-start;
    position: absolute;
    top: 2em;
    left: .5em;
    display: none;
}
.zi p span {
    font-size: 24px;
}


/* For pubs.html */
.pubs-container {
    padding-top: 20px;
}
.pub-entry {
    margin-bottom: 15px;
}

.title {
    font-size: 16px;
}
.authors {
    font-size: 16px;
    margin-left: 2.8em;
}
.journal {
    font-size: 16px;
    margin-left: 2.8em;
    font-style: italic;
}
.booktitle {
    font-size: 16px;
    margin-left: 2.8em;
}
.links {
    margin-left: 2.8em;
}

.bib-text {
    display: none;
    font-family: monospace;
    font-size: 12px;
    margin-left: 3.5em;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 30px;
}


/* for people.html */