head
    title Computational Linguistics and Consciousness Sciences (CLCS) Lab : Homepage
    meta(charset="utf-8")
    meta(name="author", content="Yang Xu")
    meta(name="keywords", content="computational linguistics, cognitive sciences, psycholinguistics, NLP, Computer Science, SUSTech, Southern University of Science and Technology, Yang Xu")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/jquery-3.1.1.min.js", type="text/javascript")