doctype html
html(lang="en-US")
    include head.pug
    body
        include nav.pug 
        include lab-info.pug
        .container
            .col-md-12.intro
                p.
                    We are a group of active researchers in the areas of natural language processing (NLP), machine learning, cognitive sciences, and psycholinguistics. We explore the scientific principles behind human being's capability of comprehending and producing complex languages.  
                p(style="color: #E41A1C;").
                    *NEWS*: Dr. Yang Xu is joining #[a(href="https://www.sustech.edu.cn/en/") Southern University of Science and Technology (SUSTech)] at Shenzhen, China, from Fall 2023. 
                    This website will be migrated to SUSTech soon.
                p We are particularly interested in a broad range of research questions:
                ul
                    li Communication effectiveness in task-oriented dialogues.
                    li Multi-modality nature of dialogue: mixture of vocal, gesture, and facial information. 
                    li Inter-speaker #[a(href="https://en.wikipedia.org/wiki/Lexical_entrainment") alignment/entrainment] that occurs in dialogue.
                    li Information density in natural language.
                    li Long-term langauge change/evolution.
                p.
                    Please go to the #[a(href="projects.html") projects] page for detailed introduction to ongoing and past projects.
                hr
        include news.pug
        hr
        //- .container.foot
        //-     p.last-update Last updated time: August 2022
        //-     script(src="//t1.extreme-dm.com/f.js", id="eXF-yvx5085-0", async, defer)
