doctype html
html(lang="en-US")
    include head.pug
    body
        include nav.pug 
        include lab-info.pug
        .container
            .col-md-12.intro
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p. 
                            我们研究不同时间尺度下、动态变化的空间环境中，人类语言的使用、理解、学习、演化的规律。
                            #[br]
                            人工智能（AI）的到来，让我们有更多机会和动力去研究语言背后的人脑的认知规律。
                    .col-md-6.intro-row-en
                        p. 
                            We study the principles of the use, understanding, learning, and evolution of human languages at various time scales and in interaction with dynamic environments.
                            #[br]
                            The advent of artificial intelligence (AI) brings unique opportunaties and motivation to study the human brain's cognitive functions behind language.
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p. 
                            我们的研究方法：一切适用于科学问题的方法。
                            #[br]
                            其中计算（computational）模型的方法是目前使用频率最多的：
                            #[ul]
                                #[li 语言模型（language models），大语言模型（LLMs）] 
                                #[li 统计模型（statistical models）]
                                #[li 深度神经网络（deep neural networks）]
                                #[li 等等...]
                            #[br]
                            但模型只是方法，是途径：“All models are wrong, but some are useful”，“道昭而不道”，比手段更重要的是目的。
                            #[br]
                            通过这些方法和途径所能揭示出的规律和原理，是我们所关心的。
                    .col-md-6.intro-row-en 
                        p. 
                            We use research methods that are appropriate for all scientific problems. Computational methods are by far the most used:
                            #[br]
                            #[ul]
                                #[li Language models]
                                #[li Statistical models]
                                #[li Deep neural networks]
                                #[li and more ...]
                            #[br]
                            But models are just means, not the end. "All models are wrong, but some are useful", "The way that can be told is not the eternal way", and the end matters more than the means.
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p. 
                            实验室名字由来：“CL”指学科“计算语言学”（computational linguistics）；“CS”中的“C”借用自哲学和心理学领域的概念“意识”（consciousness），用以方便地指代我们感兴趣的“大”研究问题：机器智能与人类智能的根本区别是什么？人脑意识的本质是什么？机器是否具有意识？……
                    .col-md-6.intro-row-en 
                        p. 
                            On the lab name: "CL" = the research field #[i computational linguistics]. The "C" in "CS" = #[i consciousness] borrowed from philosophy and psychology, by which we conveniently refer to some "Big Questions" in AI: What distinguishes machine intelligence from the human brain's functions? What is the nature of human mind/consciousness? Do machines have self-consciousness? ...
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p(style="color: #E41A1C;").
                            欢迎有志于从事人工智能、计算语言学、心理语言学、认知科学等领域研究的同学加入。联系方式：发送你的简历至邮箱 xuyang [at] sustech [dot] edu [dot] cn
                    .col-md-6.intro-row-en 
                        p(style="color: #E41A1C;"). 
                            We are actively recruiting self-motivated graduate, undergraduate students, and post-docs. You are more than welcome to send your resume to xuyang [at] sustech [dot] edu [dot] cn
                hr
        include news.pug
        hr
        //- .container.foot
        //-     p.last-update Last updated time: August 2022
        //-     script(src="//t1.extreme-dm.com/f.js", id="eXF-yvx5085-0", async, defer)
