doctype html
html(lang="en-US")
    include head.pug
    body
        include nav.pug 
        include lab-info.pug
        .container
            .col-md-12.intro
                p.
                    我们致力于研究不同时间尺度下、动态变化的空间环境中，人类语言的使用、理解、学习、演化的规律。
                p. 
                    人工智能（AI）的到来，让我们更有机会（有动力）研究语言背后的人脑意識功能。
                p. 
                    我们的研究方法：适用于研究一切科学问题的方法。当然计算（computational）的方法是目前用的最多的：
                p(style="color: #E41A1C;").
                    *NEWS*: Dr. Yang Xu is joining #[a(href="https://www.sustech.edu.cn/en/") Southern University of Science and Technology (SUSTech)] at Shenzhen, China, from Fall 2023. 
                    This website will be migrated to SUSTech soon.
                hr
        include news.pug
        hr
        //- .container.foot
        //-     p.last-update Last updated time: August 2022
        //-     script(src="//t1.extreme-dm.com/f.js", id="eXF-yvx5085-0", async, defer)
