doctype html
html(lang="en-US")
    head
        title Yang Xu : Homepage
        meta(charset="utf-8")
        meta(name="author", content="Yang Xu")
        meta(name="keywords", content="Yang Xu, computational linguistics, NLP, Computer Science, SDSU, San Diego State University, psycholinguistics")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="js/jquery-3.1.1.min.js", type="text/javascript")
        //- script.
        //-     $(function () {
        //-         $('.lastModifiedTime').text(document.lastModified);
        //-     });
    body
        .container.personal-info
            .row
                .col-md-3
                    p
                        img(src="img/xu.jpg", height="260/")
                .col-md-4.info-text
                    h1.name-section
                        span Yang Xu
                        span.name-sep &asymp;
                        span.kaishu 徐炀
                    p.
                        Ph.D., Assistant Professor of Computer Science 
                        #[br]
                        #[a(href="http://www.cs.sdsu.edu/") Department of Computer Science]
                        #[br]
                        #[a(href="http://www.sdsu.edu/") San Diego State University]
                        #[br]
                        Email: yang.xu AT sdsu DOT edu
                        #[br]
                        Office: Room 545 GMCS Building, San Diego,  CA 92115
                .col-md-5
                    h3 What's new
                    .pre-scrollable#whatsnew
                        ul
                            li 5/2019: Our paper on #[i subword embeddings modeling language change] is accepted to the 1st International Workshop on Computational Approaches to Historical Language Change (LChange'19) colocated at ACL 2019!
                            li 4/2019: We have an abtract and poster on #[i modeling language change in Chinese] accepted to CogSci 2019!
                            li 11/2018: Our extened poster on #[i alignment is affected by lexical surprisal] is accepted to SCiL 2019!
                            li 5/2018: Our paper on #[i how social power influence alignment (or not) in dialogue] is accepted to ACL 2018!
                            li 2/2018: Give an invited talk at Department of CS, SDSU!
                            //- li 8/2017: Give an oral presentation at ACL 2017.
                            //- li 5/2017: Our paper on spectral analysis of dialogue is accepted to ACL 2017 @Vancouver!
                            //- li 2/2017: Our paper on information density in dialogue is accepted to #[i Cognition] journal!
                            //- li 8/2016: Give an oral and poster presentation at ACL 2016.
                            //- li 5/2016: Two papers are accepted to ACL 2016!

        .container
            .nav
                a(href="index.html").active Home
                span.nav-item-sep |
                a(href="publications.html") Publications
                span.nav-item-sep |
                a(href="project.html") Projects
                span.nav-item-sep |
                a(href="people.html") People
                span.nav-item-sep | 
                a(href="files/cv-xu.pdf") CV

        .container
            .col-md-12.introduction
                p.
                    I am an Assistant Professor at #[a(href="http://www.cs.sdsu.edu/") Department of Computer Science], #[a(href="https://www.sdsu.edu/") San Diego State University]. 
                p.
                    My research interest lies in the intersection of computational linguistics, psycholinguistics, and cognitive sciences. 
                    I use machine learning and other computational methods to study the short-term adaptation and long-term change in language. 
                //- I use computational methods to examine how people interact (linguistically and behaviorally) at multiple representation levels, from lower levels such as lexical and syntactic elements, to higher levels such as information content etc.
                //- By taking into account the interactions that occur across the broad spectrum of these representation levels, I look forward to obtain a unified perspective of dialogue that better captures the nature of human interaction. 
                //- I am particularly interested in the interactive and collaborative nature of human dialogue. 
                //- For details about my current research work, see my #[a(href="pubs/research_statement_xu.pdf") research statement].
                //- p.
                //-     My current research projects include: historical change of languages in the world, modeling dialogical interaction with distributed representations, the balance between predictability and uncertainty in language, and so on.

                p.
                    #[strong I am hiring] 1 to 2 highly self-motivated Ph.D. students starting from Fall semester 2020. Please click #[a(href="files/xu_hire_2018_en_zh.pdf") here] or #[a(href="files/xu_hire_2019_zh.pdf") here] for more information.

                hr
                h4.text-primary Bio
                p.
                    2018 -- Now: Assistant Professor of Computer Science, San Diego State University #[br]
                    2018: Ph.D., Information Sciences and Technology, The Pennsylvania State University #[br]
                    2013: M.S., Psychology, Tsinghua University #[br]
                    2010: B.S., Electronic Engineering, Tsinghua University
                //- I obtained my Ph.D in Summer 2018, from the #[a(href="https://ist.psu.edu/") College of Information Sciences and Technology], the Pennsylvania State University, advised Dr. #[a(href="http://www.david-reitter.com/") David Reitter]. 
                //- Before joining Penn State, I received a Master degree from #[a(href="http://www.tsinghua.edu.cn/publish/psyen/") Department of Psychology] at #[a(href="http://www.tsinghua.edu.cn/publish/newthuen/index.html")] Tsinghua University in 2013. 
                //- I received my Bachelor degree from #[a(href="http://www.tsinghua.edu.cn/publish/eeen/") Department of Electronic Engineering] at Tsinghua in 2010.
                
                hr
        .container
            p.last-update Last updated time: November 2019
            script(src="//t1.extreme-dm.com/f.js", id="eXF-yvx5085-0", async, defer)
