doctype html
html(lang="en-US")
    include head.pug
    body
        include nav.pug 
        include lab-info.pug
        .container
            .col-md-12.intro
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p. 
                            我们研究不同时间尺度下、动态变化的空间环境中，人类语言的使用、理解、学习、演化的规律。
                            #[br]
                            人工智能（AI）的到来，让我们有更多机会，也更有动力去研究语言背后的人脑意識功能。
                    .col-md-6.intro-row-en
                        p. 
                            We study the principles of the use, understanding, learning, and evolution of human languages at various time scales and in interaction with dynamic environments.
                            #[br]
                            The advent of artificial intelligence (AI) brings unique opportunaties and motivation to study the human brain's cognitive functions behind language.
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p. 
                            我们的研究方法：一切适用于科学问题的方法。
                            #[br]
                            当然计算（computational）方法是目前使用最多的：
                            #[ul]
                                #[li 语言模型（language models）] 
                                #[li 统计模型（statistical models）]
                                #[li 深度神经网络（deep neural networks）]
                                #[li ...]
                            #[br]
                            模型只是方法，是途径：“All models are wrong, but some are useful”（——Allen Newell）；“道昭而不道”（——庄子）。
                            #[br]
                            通过这些方法和途径所能揭示出的规律和原理，是我们所关心的。
                    .col-md-6.intro-row-en 
                        p. 
                            We use research methods that are appropriate for all scientific problems. Computational methods are by far the most used:
                            #[br]
                            #[ul]
                                #[li Language models]
                                #[li Statistical models]
                                #[li Deep neural networks]
                                #[li ...]
                            #[br]
                            But models are just means, not the end. "All models are wrong, but some are useful" (Allen Newell); "The way that can be told is not the eternal way" (Zhuangzi, Google translated).
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p. 
                            实验室名字由来：“CL”即指目前比较成熟的学科“计算语言学”（computational linguistics）；“CS”中的“C”借用自哲学和心理学领域的概念“意識”（consciousness），用以方便地指代我们的研究兴趣所涵盖的一些“大问题”：机器智能与人脑的区别是什么？人脑意识的本质是什么？机器是否具有意识？……
                    .col-md-6.intro-row-en 
                        p. 
                            Explanation of the lab name: "CL" refers to the relatively mature research field #[i computational linguistics]. The "C" in "CS" is the concept of #[i consciousness] borrowed from philosophy and psychology, which we use to conveniently refer to some of the "Big Questions" in AI: What distinguishes machine intelligence from the human brain's functions? What is the nature of human mind/consciousness? Do machines have self-consciousness? ...
                .col-md-12.intro-row
                    .col-md-6.intro-row-zh
                        p(style="color: #E41A1C;").
                            本实验室招收博士后、博士、硕士、本科生，欢迎有志于从事计算语言学、人工智能、认知科学、心理语言学等领域研究的同学加入。联系方式：发送你的简历至邮箱 xuyang [at] sustech [dot] edu [dot] cn
                    .col-md-6.intro-row-en 
                        p(style="color: #E41A1C;"). 
                            We are actively recruiting self-motivated graduate and undergraduate students (post-docs as well). You are more than welcome to send your resume to xuyang [at] sustech [dot] edu [dot] cn
                hr
        include news.pug
        hr
        //- .container.foot
        //-     p.last-update Last updated time: August 2022
        //-     script(src="//t1.extreme-dm.com/f.js", id="eXF-yvx5085-0", async, defer)
