doctype html
html(lang="en-US")
    head
        title Yang Xu : Homepage
        meta(charset="utf-8")
        meta(name="author", content="Yang Xu")
        meta(name="keywords", content="Yang Xu, PSU, Penn State, psycholinguistics, computational linguistics")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="js/jquery-3.1.1.min.js", type="text/javascript")
        //- script.
        //-     $(function () {
        //-         $('.lastModifiedTime').text(document.lastModified);
        //-     });
    body
        .container.personal-info
            .row
                .col-md-3
                    p
                        img(src="img/xu.jpg", height="260/")
                .col-md-6.info-text
                    h1.name-section
                        span Yang Xu
                        span.name-sep &asymp;
                        span.kaishu 徐炀
                    p.
                        Ph.D. Candidate
                        #[br]
                        #[a(href="https://ist.psu.edu/") College of Information Sciences and Technology]
                        #[br]
                        #[a(href="http://www.psu.edu/") The Pennsylvania State University]
                        #[br]
                        Email: yvx5085 AT psu DOT edu
                        #[br]
                        Office: 319 IST Building
                //- .col-md-4
                //-     h3 What's new?
                //-     .pre-scrollable#whatsnew
                //-         ul
                //-             li 2/2017: Our #[i Cognition] paper is accepted.
                //-             li 8/2016: Give an oral and poster presentation in ACL 2016.
                //-             li 5/2016: Two ACL papers are accepted.
        .container
            .nav
                a(href="index.html").active Home
                //- span.nav-item-sep |
                //- a(href="/research.html") Research
                span.nav-item-sep |
                a(href="pubs.html") Publications
                span.nav-item-sep |
                a(href="files/cv-xu.pdf") CV

        .container
            p.
                I am a fourth year Ph.D. student at the #[a(href="https://ist.psu.edu/") College of Information Sciences and Technology], the Pennsylvania State University, working with Dr. #[a(href="http://www.david-reitter.com/") David Reitter]. Before joining Penn State, I received my Master degree from #[a(href="http://www.tsinghua.edu.cn/publish/psyen/") Department of Psychology] at #[a(href="http://www.tsinghua.edu.cn/publish/newthuen/index.html")] Tsinghua University in 2013, and my Bachelor degree from #[a(href="http://www.tsinghua.edu.cn/publish/eeen/") Department of Electronic Engineering] at Tsinghua in 2010.
            p.
                My research interests lie in the intersection of computational linguistics, psycholinguistics, and cognitive sciences. I am particularly interested in the interactive and collaborative nature of human dialogue, and I use computational methods to examine how people interact (linguistically and behaviorally) at multiple representation levels, from lower levels such as lexical and syntactic elements, to higher levels such as information content etc.
                By taking into account the interactions that occur across the broad spectrum of these representation levels, I look forward to obtain a unified perspective of dialogue that better captures the nature of human interaction.
            hr
            p.
                Last updated time: 6/15/2017
            script(src="//t1.extreme-dm.com/f.js", id="eXF-yvx5085-0", async, defer)
