doctype html
html(lang="en-US")
    head
        title Yang Xu : Homepage
        meta(charset="utf-8")
        meta(name="author", content="Yang Xu")
        meta(name="keywords", content="Yang Xu, PSU, Penn State, psycholinguistics, computational linguistics, NLP, Computer Science, SDSU, San Diego State University")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src="js/jquery-3.1.1.min.js", type="text/javascript")
        //- script.
        //-     $(function () {
        //-         $('.lastModifiedTime').text(document.lastModified);
        //-     });
    body
        .container.personal-info
            .row
                .col-md-3
                    p
                        img(src="img/xu.jpg", height="260/")
                .col-md-6.info-text
                    h1.name-section
                        span Yang Xu
                        span.name-sep &asymp;
                        span.kaishu 徐炀
                    p.
                        Ph.D. 
                        #[br]
                        #[a(href="https://ist.psu.edu/") College of Information Sciences and Technology]
                        #[br]
                        #[a(href="http://www.psu.edu/") The Pennsylvania State University]
                        #[br]
                        Email 1: yvx5085 AT psu DOT edu
                        #[br]
                        Office: 365 Westgate Building
                //- .col-md-4
                //-     h3 What's new?
                //-     .pre-scrollable#whatsnew
                //-         ul
                //-             li 2/2017: Our #[i Cognition] paper is accepted.
                //-             li 8/2016: Give an oral and poster presentation in ACL 2016.
                //-             li 5/2016: Two ACL papers are accepted.
        .container
            .nav
                a(href="index.html").active Home
                //- span.nav-item-sep |
                //- a(href="/research.html") Research
                span.nav-item-sep |
                a(href="pubs.html") Publications
                span.nav-item-sep |
                a(href="files/cv-xu.pdf") CV

        .container
            .col-md-10.introduction
                p.
                    I will join the #[a(href="http://www.cs.sdsu.edu/") Department of Computer Science], at #[a(href="https://www.sdsu.edu/") San Diego State University], as an Assistant Professor from Fall 2018. 
                p.
                    I obtained my Ph.D in Summer 2018, from the #[a(href="https://ist.psu.edu/") College of Information Sciences and Technology], the Pennsylvania State University. My advisor is Dr. #[a(href="http://www.david-reitter.com/") David Reitter]. 
                    Before joining Penn State, I received a Master degree from #[a(href="http://www.tsinghua.edu.cn/publish/psyen/") Department of Psychology] at #[a(href="http://www.tsinghua.edu.cn/publish/newthuen/index.html")] Tsinghua University in 2013. 
                    I received my Bachelor degree from #[a(href="http://www.tsinghua.edu.cn/publish/eeen/") Department of Electronic Engineering] at Tsinghua in 2010.
                p.
                    The topic of my dissertation work lies in the intersection of computational linguistics, psycholinguistics, and cognitive sciences. 
                    I use computational methods to examine how people interact (linguistically and behaviorally) at multiple representation levels, from lower levels such as lexical and syntactic elements, to higher levels such as information content etc.
                    By taking into account the interactions that occur across the broad spectrum of these representation levels, I look forward to obtain a unified perspective of dialogue that better captures the nature of human interaction. 
                //- I am particularly interested in the interactive and collaborative nature of human dialogue. 
                //- For details about my current research work, see my #[a(href="pubs/research_statement_xu.pdf") research statement].
                p.
                    My future research interests include: historical change of languages in the world, modeling dialogical interaction with distributed representations, the balance between predictability and uncertainty in language, and so on.
                hr
        .container
            p.last-update Last updated time: Jun 2018
            script(src="//t1.extreme-dm.com/f.js", id="eXF-yvx5085-0", async, defer)
