.container.info
    .row
        .col-md-4.logo-area
            .logo
                .zi.kaishu 
                    p. 
                        #[span 计]：计数#[br]
                        count/compute
                    img(src="img/计-zhuan.svg")
                //- .zi.kaishu
                //-     p.
                //-         #[span 算]：计数#[br]
                //-         compute/calculate
                //-     img(src="img/算-chu.svg")
                .zi.kaishu
                    p.
                        #[span 语]：说、话#[br]
                        language/saying
                    img(src="img/语-zhuan.svg")
                //- .zi.kaishu
                //-     p.
                //-         #[span 言]：讲、说#[br]
                //-         words/speech
                //-     img(src="img/言-zhuan.svg")
                //- .zi.kaishu
                //-     p.
                //-         #[span 意]：心思#[br]
                //-         thought/idea
                //-     img(src="img/意-qin.svg")
                .zi.kaishu
                    p.
                        #[span 識]：认识、知道#[br]
                        recognize/know
                    img(src="img/識-jinwen.svg")
                //- .zi.kaishu
                //-     p.
                //-         #[span 科]：分类#[br]
                //-         science
                //-     img(src="img/科-zhuan.svg")
                .zi.kaishu
                    p.
                        #[span 學]：学习、学问#[br]
                        study/learning
                    img(src="img/學-qin.svg")
        .col-md-8.info-text
            .name-section
                span 计算语言学与意識科学实验室
                br
                span 
                    span.name-highlight C
                    |omputational 
                    span.name-highlight L
                    |inguistics 
                    span.small and 
                    span.name-highlight C
                    |onsciousness 
                    span.name-highlight S
                    |ciences 
                    span.small Lab
            .home-contact
                p.
                    #[br]
                    负责人：徐炀 副教授 | PI: Yang Xu, Ph.D.
                    #[br]
                    #[a(href="https://cse.sustech.edu.cn/") 计算机科学与工程系 | CSE Department]
                    #[br]
                    #[a(href="https://www.sustech.edu.cn/") 南方科技大学 | Southern University of Science and Technology]
                    #[br]
                    邮箱 | Email: xuyang [at] sustech [dot] edu [dot] cn
                    #[br]
                    地址 | Location: 523B 工学院南楼 (Engineering Building South)
        //- .col-md-5