doctype html
html(lang="en-US")
    include head.pug
    body
        include nav.pug

        .container
            .col-md-12
                h2 实验室成员 | Current Lab Members
                hr
                //- clip-path: polygon(0% 15%, 0% 100%, 100% 100%, 100% 15%);
                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/Xu_SUSTech.jpg", alt="Yang Xu", style="width:70%;height:70%;") 
                    .short-bio.col-md-9
                        p.
                            Principal Investigator: Yang Xu, Ph.D., #[a(href="./files/cv-xu.pdf") CV]
                        p.
                            Associate Professor at #[a(href="https://cse.sustech.edu.cn/") Department of Computer Science and Engineering]
                            #[br]
                            #[a(href="https://www.sustech.edu.cn/") Southern University of Science and Technology]. 
                        p.
                            #[a(href="https://cse.sustech.edu.cn/cn/people/tenure/type/associate_professor") 南科大页面]
                            #[br]
                            #[a(href="https://dblp.org/pid/61/3906-24.html") DBLP page]
                            #[br]
                            #[a(href="https://scholar.google.com/citations?user=DnivueEAAAAJ&hl=en") Google Scholar]
                        p(style="color: #E41A1C;"). 
                            我们实验室招收博士后、博士、硕士、本科生，欢迎有志于从事计算语言学、人工智能、认知科学、心理语言学等领域研究的同学加入。联系方式：发送你的简历至邮箱 xuyang [at] sustech [dot] edu [dot] cn

                .col-md-12
                    hr   
                
                .person.col-md-12 
                    .portray.col-md-3
                        img(src="img/LiYongyuan.jpg", alt="Li Yongyuan", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Yongyuan Li 黎永源
                    p.
                        Master student at CSE, SUSTech.

                .person.col-md-12 
                    .portray.col-md-3
                        img(src="img/LiuZhichen2.jpg", alt="Liu Zhichen", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Zhichen Liu 刘之辰
                    p.
                        Master student at CSE, SUSTech.
                    
                //- .col-md-12
                //-     hr
                
                //- .col-md-12
                //-     hr
                //- h2 Previous members
                //- hr

                //- .person.col-md-12
                //-     .portray.col-md-3
                //-         img(src="img/Nika.jpg", alt="Nika", style="width:70%;height:70%;")
                //-     .short-bio.col-md-9
                //-     p.
                //-         Nika Nizharadze (nnizh13 AT gmail DOT com)
                //-     p.
                //-         I am a Master student at the Department of Computer Engineering, San Diego State University. I am interested in big data processing and analytics, machine learning, and computational linguistics. 
                
                //- .person.col-md-12
                //-     .portray.col-md-3
                //-         img(src="img/student_m.jpg", alt="Kaiwen Feng", style="width:70%;height:70%;")
                //-     .short-bio.col-md-9
                //-     p.
                //-         Kevin Feng
                //-     p.
                //-         Master degree in Computer Science from San Diego State University. Graduated in 2020. 