doctype html
html(lang="en-US")
    head
        title The Computational Linguistics and Cognitive Sciences (CLCS) Lab : People
        meta(charset="utf-8")
        meta(name="author", content="Yang Xu")
        meta(name="keywords", content="computational linguistics, cognitive sciences, psycholinguistics, NLP, Computer Science, SDSU, San Diego State University, Yang Xu")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css") 
    body
        .container.menu
            .nav
                a(href="index.html").active Home
                span.nav-item-sep |
                a(href="projects.html") Projects
                span.nav-item-sep |
                a(href="people.html") People
                span.nav-item-sep |
                a(href="publications.html") Publications

        .container
            .col-md-12
                h1 Current Lab Members
                hr
                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/xu_fun.JPG", alt="Yang Xu", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                        p.
                            Principal Investigator: Yang Xu, Ph.D.
                        p.
                            Assistant Professor at #[a(href="http://www.cs.sdsu.edu/") Department of Computer Science], #[a(href="https://www.sdsu.edu/") San Diego State University]. 
                        p.
                            My research interest lies in the intersection of natural language processing, machine learning, psycholinguistics, and cognitive sciences. 
                            The research activities/questions that interest me include (but are not limited to): developing multi-modal machine learning models for huamn language, developing computational methods for the short-term adaptation in dialogue, designing human-centered interaction systems, and studying long-term change in language.
                        p.
                            You can find more information in my #[a(href="./files/cv-xu.pdf") CV]
                        p.
                            #[strong I am actively recruiting] highly self-motivated Ph.D. students. Please visit #[a(href="http://www.csrc.sdsu.edu/csrc/doctoral.html") CSRC, Computational Science and Research Center] for more information about the program.

                .col-md-12
                    hr
                
                .person.col-md-12.hidden
                    .portray.col-md-3
                        img(src="img/BryceChudomelka.jpg", alt="Bryce Chudomelka", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Bryce Chudomelka (brycechudomelka AT gmail DOT com)
                    p.
                
                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/ChengYang.jpg", alt="Yang Cheng", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Yang Cheng (chengyang2156 AT gmail DOT com)
                    p.
                
                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/KavyaLnu.jpg", alt="Kavya Lnu", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Kavya Lnu (klnu7276 AT sdsu DOT edu)
                    p.
                        I am currently a graduate student at Department of Computer Science, San Diego State University. 
                        I did my Bachelor's degree in Computer Science and briefly worked as a Full Stack Web Developer. 
                        My research interests lie in Data Science, Big data, Machine Learning, Artificial Intelligence and Computer Vision.
                
                .col-md-12
                    hr
                h2 Previous members
                hr

                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/shravani.jpg", alt="Shravani", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Shravani Belgamwar (sbelgamwar3697 AT sdsu DOT edu)
                    p.
                        I am a Master student at the Department of Computer Engineering, San Diego State University. My research interests include Machine Learning, Deep Learning, Natural Language Processing and Computer Vision. 

                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/Nika.jpg", alt="Nika", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Nika Nizharadze (nnizh13 AT gmail DOT com)
                    p.
                        I am a Master student at the Department of Computer Engineering, San Diego State University. I am interested in big data processing and analytics, machine learning, and computational linguistics. 
                
                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/student_f.jpg", alt="Xinyue", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Xinyue Zhang (xinyuecheol AT gmail DOT com)
                    p.
                        I received a bachelor’s degree in Economics and a minor in Computer Science from San Diego State University in May 2018, a master’s degree in Economics from San Diego State University in August 2020, and have work experience as a research and graduate assistant.
                
                .person.col-md-12
                    .portray.col-md-3
                        img(src="img/student_m.jpg", alt="Kaiwen Feng", style="width:70%;height:70%;")
                    .short-bio.col-md-9
                    p.
                        Kevin Feng
                    p.
                        Master degree in Computer Science from San Diego State University. Graduated in 2020. 