doctype html
html(lang="en-US")
    head
        title The Computational Linguistics and Cognitive Sciences (CLCS) Lab : Projects
        meta(charset="utf-8")
        meta(name="author", content="Yang Xu")
        meta(name="keywords", content="computational linguistics, cognitive sciences, psycholinguistics, NLP, Computer Science, SDSU, San Diego State University, Yang Xu")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css") 

    body
        .container.menu
            .nav
                a(href="index.html").active Home
                span.nav-item-sep |
                a(href="projects.html") Projects
                span.nav-item-sep |
                a(href="people.html") People
                span.nav-item-sep |
                a(href="publications.html") Publications

        .container
            .project.col-md-12
                p. 
                    Under construction