doctype html
html(lang="en-US")
    head
        title = Yang Xu : Publications
        meta(charset="utf-8")
        meta(name="author", content="Yang Xu")
        meta(name="keywords", content="Yang Xu, PSU, Penn State, psycholinguistics, computational linguistics")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")

    body
        .container
            .nav
                a(href="index.html").active Home
                //- span.nav-item-sep |
                //- a(href="/research.html") Research
                span.nav-item-sep |
                a(href="pubs.html") Publications
                span.nav-item-sep |
                a(href="files/cv-xu.pdf") CV

        .container.pubs-container
            
