doctype html
html(lang="en-US")
    head
        title = Yang Xu : Publications
        meta(charset="utf-8")
        meta(name="author", content="Yang Xu")
        meta(name="keywords", content="Yang Xu, PSU, Penn State, psycholinguistics, computational linguistics")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")

    body
        .container
            .nav
                a(href="index.html").active Home
                //- span.nav-item-sep |
                //- a(href="/research.html") Research
                span.nav-item-sep |
                a(href="pubs.html") Publications
                span.nav-item-sep |
                a(href="files/cv-xu.pdf") CV

        .container.pubs-container
            .pub-entry.
                #[span.title 2017. Entropy in conversation: Towards an information-theoretic model of dialogue]
                #[br]
                #[span.authors #[b Yang Xu], David Reiter]
                #[br]
                #[span.journal Cognition] (Accepted, pending revision)
                #[br]
            //- #[span.links #[a() pdf] &nbsp; #[a() bib] &nbsp; #[a() code]]
            .pub-entry.
                #[span.title 2016. Entropy converges between dialogue participants: Explanations from an information-theoretic perspective]
                #[br]
                #[span.authors #[b Yang Xu], David Reitter]
                #[br]
                #[span.booktitle In #[i Proceedings of the 54th Annual Meeting of the Association for Computational Linguistics]]
                #[br]
                #[span.links #[a(href="pubs/xu_reitter_ACL2016long_anthology.pdf") pdf] &nbsp; #[a() bib] &nbsp; #[a(href="https://github.com/innerfirexy/acl2016long") code]]
            .pub-entry.
                #[span.title 2016. Convergence of syntactic complexity in conversation]
                #[br]
                #[span.authors #[b Yang Xu], David Reiter]
                #[br]
                #[span.booktitle In #[i Proceedings of the 54th Annual Meeting of the Association for Computational Linguistics (short paper)]]
                #[br]
                #[span.links #[a(href="pubs/xu_reitter_syncomplexity_ACL2016.pdf") pdf] &nbsp; #[a() bib] &nbsp; #[a(href="https://github.com/innerfirexy/acl2016short") code]]
